body {
    font-family: 'Montserrat', sans-serif;
}
 /*Header CSS */
 .headingone {
    color: #424a55;
    font-size: 1.998vw;
    padding-bottom: 0.6vw;
}

.headingtwo {
    font-size: 1.09vw;
    color: #7c8993;
}

.wholeWrapper {
    position: relative;
    text-align: center;
}

.headerContent {
    padding: 2vw 0 7vw 0;
}

.Featured ,.Recommended,.Past {
    cursor: pointer;
    display: inline-block;
    color: #017fd5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
}


.tab > div:last-child {
    margin-right: 0;
}



.tab .active {
    color: #424a55;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
}

div#featureContent {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}
div#recommendedContent {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}
div#pastContent {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}
.featuredone, .featuredtwo,.featuredthree {
    border-radius: 0.2vw;
    background-color: #ffffff;
    border: 0.2vw solid #ececec;
    position: relative;
}
.recommendedone, .recommendedtwo,.recommendedthree {
    border-radius: 0.2vw;
    background-color: #ffffff;
    border: 0.2vw solid #ececec;
    position: relative;
}
.pastone, .pasttwo,.pastthree {
    border-radius: 0.2vw;
    background-color: #ffffff;
    border: 0.2vw solid #ececec;
    position: relative;
}

.headerImage {
    border-radius: .4vw;
    background-color: #ffffff;
    border-bottom: 0.2vw solid #ececec;
    position: relative;
}

.price {
    position: absolute;
    top: 1.7vw;
    left: 77vw;
    transform: translate(-50% , -50%);
    border-radius: 3px;
    background-color: rgba(1,89,149,0);
    border: 1px solid #eff1f2;
    color: #fff;
    padding: 0.1vw 0.4vw;
    z-index: 999;
}



.tags:before {
    content: '';
    display: inline-block;
    width: 1.5vw;
    height: 1vw;
    background: url(./images/tag.png) no-repeat;
    padding-right: 0.4vw;
    background-size: 11px;
} 

.date:before {
    content: '';
    display: inline-block;
    width: 1.5vw;
    height: 1vw;
    background: url(./images/date.png) no-repeat;
    padding-right: 0.4vw;
    background-size: 11px;
} 

.location:before {
    content: '';
    display: inline-block;
    width: 1.5vw;
    height: 1vw;
    background: url(./images/location.png) no-repeat;
    padding-right: 0.4vw;
    background-size: 11px;
} 


.contenttitle,.location,.date,.tags{
    text-align: left;
    color: #424a55;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1vw;
}
.owl-theme .owl-nav .owl-next {
    color: #7c8993;
    font-size: .8vw;
    background: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    right: -4vw;
    width: auto;
    text-indent: 0;
    font-weight: 700;
    font-style: normal;
}

.owl-theme .owl-nav .owl-prev {
    color: #7c8993;
    font-size: .8vw;
    background: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transform: rotate(270deg);
    position: absolute;
    text-indent: 0;
    top: 50%;
    left: -4vw;
    width: auto;
    text-decoration: underline;
    font-weight: 700;
    font-style: normal;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #0b80cf;
}

.owl-theme .owl-dots .owl-dot {
    display: none;
}
.owl-theme .owl-nav {
    display: block !important;
}
.contenttext {
    padding: 2vw;
    line-height: 1.8;
}



.location, .date, .tags {
    color: #9ca6ae;
    font-size: 1vw;
}

.contenttitle {
    line-height: 1.4;
    padding-bottom: 0.4vw;
}
.owl-carousel .owl-item img {
    height: 14vw;

}
.Featured {
    position: absolute;
    top: -3vw;
    left: 15.5vw;
}

.tab {
    position: relative;
}

.Recommended {
    position: absolute;
    top: -3vw;
    left: 40vw;
}

.Past {
    position: absolute;
    top: -3vw;
    left: unset;
    right: 16vw;
}
.line {
    border-bottom: 0.3vw solid #017fd5;
    width: 100%;
    max-width: 88vw;
    margin: 0 auto;
    margin-bottom: 2vw;
    position: relative;
}

.line.fea .arrow {
    width: 2.5vw;
    height: 2.3vw;
    background: url(./images/cheveron-down.svg) no-repeat;
    display: block;
    position: absolute;
    background-size: 2.5vw;
    top: -0.7vw;
    vertical-align: top;
    left: 16vw;

  
}
.line.recom .arrow {
    width: 2.5vw;
    height: 2.3vw;
    background: url(./images/cheveron-down.svg) no-repeat;
    display: block;
    position: absolute;
    background-size: 2.5vw;
    top: -0.7vw;
    vertical-align: top;
    left: 43vw;
    display: none;
}
.line.pas .arrow {
    width: 2.5vw;
    height: 2.3vw;
    background: url(./images/cheveron-down.svg) no-repeat;
    display: block;
    position: absolute;
    background-size: 2.5vw;
    top: -0.7vw;
    vertical-align: top;
    left: unset;
    display: none;
    right: 15.5vw;
}

.owl-carousel .owl-item .hover {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 1vw 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.owl-carousel .owl-item .hover img {
    width: 1.5vw;
    height: 1.4vw;
    cursor: pointer;
}
.owl-carousel .owl-item .hover img:hover {
    opacity: .5;
}

.hover.like,.hover.download,.hover.share {
    margin-right: 3vw;
}
.owl-carousel .owl-item .hover:hover {
    color: #017fd5;
}

@media only screen and (max-width:1023px), only screen and (max-width:1024px) and (orientation:portrait){
	.headingone {
		font-size: 5vw;
	}

	.headerContent {
		margin: 10vw 0 15vw 0;
	}

	.headingtwo {
		font-size: 4vw;
	}

	.Featured, .Recommended, .Past {
		font-size: 3vw;
	}

	.Featured {
		width: 25vw;
		top: -8.5vw;
		left: 5.5vw;
	}

	.tab .active {
		font-size: 3vw;
	}

	.Recommended {
		width: 25vw;
		top: -8.5vw;
		left: 37vw;
		text-align: center;
	}

	.Past {
		width: 25vw;
		top: -8.5vw;
		left: unset;
		right: 5.5vw;
	}

	.owl-carousel .owl-item img {
		height: auto;
	}

	.price {
		left: unset;
		right: -1vw;
		top: 5vw;
	}

	.contenttitle, .location, .date, .tags {
		font-size: 3.4vw;
		line-height: 2.5;
	}

	.tags:before {
		background-size: 20px;
		width: 3vw;
		height: 4vw;
		padding-right: 4vw;
		vertical-align: text-bottom;
	}

	.date:before {
		background-size: 20px;
		width: 3vw;
		height: 5vw;
		padding-right: 4vw;
		vertical-align: text-bottom;
	}

	.location:before {
		background-size: 20px;
		width: 3vw;
		height: 6vw;
		padding-right: 4vw;
		line-height: 6vw;
		vertical-align: text-bottom;
	}

    .owl-theme .owl-dots {
        display: inline-block !important;
    }
    .owl-theme .owl-dots .owl-dot {
        display: inline-block ;
    }
    .owl-theme .owl-nav {
        display: none !important;
    }
    .line {
        border-bottom: 0.5vw solid #017fd5;
        width: 100%;
        max-width: 88vw;
        margin: 0 auto;
        position: relative;
        margin-bottom: 7vw;
    }
    
    .navmenu {
        padding-bottom: 2vw;
    }
    
    .line.fea .arrow {
        width: 7vw;
        height: 7vw;
        background-size: 7vw;
        top: -1.8vw;
        vertical-align: top;
        left: 11vw;
    }
    
    .line.recom .arrow {
        width: 7vw;
        height: 7vw;
        background-size: 7vw;
        top: -1.8vw;
        vertical-align: top;
        left: 42vw;
    }
    
    .line.pas .arrow {
        width: 7vw;
        height: 7vw;
        background-size: 7vw;
        top: -1.8vw;
        vertical-align: top;
        left: unset;
        right: 10vw;
    }

    
    .owl-carousel .owl-item .hover img {
        width: 6vw;
        height: 6vw;
    }
    
    .hover.like, .hover.download, .hover.share {
        margin: 0 8vw 4vw 0;
    }
    
    .contenttext {
        padding: 5vw;
    }
}